
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: grey;
}

h1{
	color: grey;
}
#container{
	margin: 25px auto;
	width: 1200px;
	background-color: white;
	border-radius: 15px;
}

#header{
	width: 100%;
	background-color: #ed7825;
	padding: 15px;
	overflow: auto;

}

#title{
	float: left;
}

#logo{
	float: right;
}

#cartContainer{
	margin: 25px;
	padding-bottom: 25px;
	clear: both;
}

.cartRow{
	border-top: 3px grey;
	padding-top: 5px;
}

.pEl{
	width:50px;
	height:50px;
	float: left;
	margin-right: 25px;
}

.productDescription{
	font-size: 10px;
	color: grey;
}

.price{
	text-align: right;
}

/*#shopping-cart{
	background-color: white;
	width: 750px;
}

#cartHeader{
	background-color: #ed7825;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.itemsContainer{
	margin: auto;

}



.cartrow{
	width: 750px;
	clear: both;
	margin: 70px;
	margin: auto;
}

.product{
	float: left;
	width: 230px;
	margin: 5px;
	padding: 5px;
}

.description{
	float: left;
	width: 230px;
	margin: 5px;
	padding: 5px;
}

.price{
	float: left;
	width: 230px;
	margin: 5px;
	padding: 5px;

}




/*margin-left, margin-right, float-left, float-right*/