
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: grey;
}

h1{
	color: grey;
}
#container{
	margin: 25px auto;
	width: 900px;
	background-color: white;
}

#header{
	width: 100%;
	background-color: #ed7825;
	padding: 15px;
	overflow: auto;

}

#title{
	float: left;
}

#logo{
	float: left;
}

#cartContainer{
	margin: 25px;
	padding-bottom: 25px;
	clear: both;
}

.cartRow{
	border-top: 3px solid grey;
	padding-top: 5px;
}

.pEl{
	width:50px;
	height:50px;
	float: left;
	margin-right: 25px;
}

.productDescription{
	font-size: 10px;
	color: grey;
}

.price{
	text-align: right;
}

.subDivEl{
	clear: both;
	padding-top: 5px;
	border-top: 1px solid grey;
	margin-left: 75px;
}

.subLeftH3El{
	float: left;

}

.subRtH3El{
	text-align: right;
	float: right;
}

